// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.show-post-image{
    height:55vh;
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.listed-post{
    width: 30%;
    min-width: 180px;
}

@media only screen and (max-width: 768px) {
    .listed-post{
        width: 100%;
    }
}

.listed-post-image{
    width: 100%;
    margin: 0;
    height: 150px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
